select,
input {
  outline: none;
  padding: 0.25rem;
}

select,
input:invalid:placeholder-shown {
  border: 1px solid black;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

span {
  color: red;
}
