@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  /* Dropdown Menu */
  --dropdown-btn-width: 9.375rem;
  --dropdown-content-width: calc(var(--dropdown-btn-width) * 2);
  /* Image Slider */
  --gray: #bbb;
  --dark-gray: #717171;
  --dark-gray-transparent: rgba(113, 113, 113, 0.5);
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.dropdown-content {
  width: var(--dropdown-content-width);
  position: absolute;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.dropdown-content > a {
  color: black;
  padding: 1rem;
  text-decoration: none;
}

.dropdown-content > a:hover {
  background-color: rgb(226, 226, 226);
}

/* Button has cursor: pointer, dropdown button has cursor: auto */
.dropdown-btn {
  width: var(--dropdown-btn-width);
  background-color: skyblue;
  font-size: 1rem;
  border: none;
  padding: 1rem;
  cursor: auto;
}

/* Image Slider/Carousel */
.img-slider-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-div {
  position: relative;
}

.dots-div {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

/* buttons: .img-dots and left and right button */
button {
  border: none;
  cursor: pointer;
}

.img-dots {
  background-color: var(--gray);
  border-radius: 50%;
  padding: 0.5rem;
}

.img-dots:hover,
.active {
  background-color: var(--dark-gray);
}

.img-caption {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.left-button,
.right-button {
  background: transparent;
  border-radius: 0.25rem;
  position: absolute;
  top: 40%;
}

.left-button:hover,
.right-button:hover {
  background-color: var(--dark-gray-transparent);
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}
