@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.dropdown-content {
  position: absolute;
  width: 12rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

a {
  color: black;
  padding: 1rem;
  text-decoration: none;
}

a:hover {
  background-color: rgb(226, 226, 226);
}

.dropdownBtn {
  background-color: skyblue;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 1rem;
}
